@{ ViewData["Title"] = "Home Page"; }

<div>
    <div class="container">

        <div class="hero-banner">
            <div class="row">
                <div class="col-md-12">
                    <div class="hero-banner-header">
                        Singapore .NET Developers Community
                    </div>
                    <div class="hero-banner-title">
                        Empowering Talents To Make Real Impact with .NET Technologies
                    </div>
                </div>

            </div>
        </div>

        <div id="about" class="info-section info-section-light-blue">
            <div class="info-section-header">
                About Us
            </div>
            <div class="info-section-description">
                <p>
                    In November 2014, Microsoft has announced that .NET are now Open Source. Even though the process is still going on, 
                    but we eventually sees that the .NET ecosystem are still strong and getting stronger. The new Open Source .NET will 
                    also merge some of other developers using other platform like Linux and Mac OS to learn and utilize .NET.
                </p>

                <p>
                    In Singapore, this .NET ecosystem has not been as good as other countries. Does not mean there is no .NET developers 
                    or enterprises not using .NET. In fact most enterprises in Singapore using .NET for their development.
                </p>

                <p>
                    So, we as the .NET developers community can do more, helping others who wants to learn .NET as well. Just imagine, 
                    all of your .NET codes can just be run in other platform as well. No matter what OS they use, .NET can be executed.
                </p>

                <p>
                    We invite all of .NET developers based in Singapore to join this community and learn .NET starting from beginners 
                    to advanced. I was hoping we can share the knowledge on .NET or .NET related ecosystem such as using Microsoft Azure + .NET.
                </p>

                <p>
                    Join us and you can also get the latest news and -- probably --what's new in .NET future, even before announce in the media.
                </p>

                <div class="row">
                    <div class="col-lg-4 col-sm-6">
                        <img class="full-width-img" src="images/meetup-banner-1.jpg" alt="Free C# Training (Beginners) For Non .NET Developers" />
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <img class="full-width-img" src="images/meetup-banner-4.png" alt="Rita Zhang and Bhargav Nookala on Building Blocks on Building Bots"
                        />
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <img class="full-width-img" src="images/meetup-banner-3.jpg" alt=".NET Experts always welcome audience to ask deep questions on C#/.NET in the meetup." />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>