header {
  font-family: Camphor,Open Sans,Segoe UI,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  left: 0;
  top: 10px;
  right: 0;
  z-index: 500;
  height: 50px;
  perspective: 2000px; }
  header li {
    list-style: none; }
  header a {
    color: #ffffff;
    font-weight: 600; }
  header a:hover {
    color: #b3b3b3; }
  header > .container {
    padding: 0; }
  header .navRoot {
    position: relative; }
    header .navRoot > li > a {
      display: inline-block;
      height: 50px;
      white-space: nowrap;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      font-size: 17px;
      line-height: 50px;
      margin: 0;
      padding: 0 25px; }
  header .navSectionLogo {
    position: absolute;
    top: 0;
    left: 0; }
  header .navSectionPrimary, header .navSectionSecondary {
    display: none; }
  header .navSectionPrimary {
    -ms-flex-pack: center;
    justify-content: center; }
  header .navSectionPrimary > a {
    cursor: pointer; }
  header .navSectionSecondary {
    position: absolute;
    top: 0;
    right: 0; }

header .item-proceed:after {
  font: normal 16px StripeIcons;
  content: '\279E';
  padding-left: 1px; }

.navbar-toggle {
  margin-top: -2px; }

.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
  margin-top: 4px; }

.navbar .navbar-toggle {
  border-color: #ffffff; }

.navbar .navbar-toggle .icon-bar {
  background-color: #ffffff; }

.navbar-collapse {
  background-color: #ffffff;
  border-color: #6772e5; }

.navbar-right-button {
  color: #ffffff !important; }

#header-main-menu a {
  color: #6772e5; }

@media (min-width: 670px) {
  header .navSectionPrimary, header .navSectionSecondary {
    display: -ms-flexbox;
    display: flex; } }

#intro {
  position: relative; }
  #intro .container {
    padding-top: 70px;
    padding-bottom: 100px; }
  #intro h1 {
    font-size: 32px;
    font-weight: 400;
    color: #fff; }
  #intro p {
    max-width: 500px;
    margin-top: 20px;
    color: #fff; }
  #intro .announcement {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    width: calc(100% + 20px * 2);
    padding: 10px 20px;
    margin: 0 0 30px -20px;
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
    color: #1a2599;
    text-decoration: none;
    background: #ffffff; }
  #intro .announcement .new-pill {
    padding: 0 6px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    background: #6772e5;
    text-transform: uppercase;
    border-radius: 10px;
    color: #ffffff; }
  #intro .announcement:after {
    content: '\27A2';
    font: normal 16px StripeIcons;
    position: relative;
    bottom: 1px; }
  #intro .message {
    -ms-flex: 1;
    flex: 1;
    margin: 0 12px; }
  #intro ul {
    display: -ms-flexbox;
    display: flex;
    margin-top: 40px; }
  #intro li:first-child a {
    margin-left: 0;
    margin-right: 23px;
    color: #ffffff;
    background: #3ecf8e;
    text-shadow: 0 1px 3px transparent(#175d3e, 0.4); }
  #intro li:first-child svg {
    position: relative;
    top: 1px;
    margin-right: 5px; }
  #intro li:last-child {
    display: none; }

@media (min-width: 670px) {
  #intro {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    height: 600px; }
    #intro .container {
      margin-top: -15%;
      padding-top: 0;
      padding-bottom: 0; }
    #intro p {
      max-width: 100%; }
    #intro .announcement {
      width: auto; }
    #intro .announcement {
      line-height: 26px;
      margin: 0 0 15px 0;
      padding: 0 12px 0 5px;
      border-radius: 15px; }
    #intro .message {
      margin: 0 7px 0 6px; }
    #intro ul {
      margin-top: 45px; }
    #intro li:last-child {
      display: block; }
      #intro li:last-child a {
        color: #6772e5; } }

@media (min-width: 880px) {
  #intro {
    height: 760px; }
    #intro h1 {
      font-size: 40px; }
    #intro p {
      max-width: 50%; } }

.header-image {
  width: 500px;
  margin-bottom: 20px; }

#photos {
  position: absolute;
  display: -ms-flexbox;
  display: flex;
  width: 1287px;
  left: 50%;
  margin-left: -844px;
  transform-origin: 50% 20%; }

#mobile-photos {
  margin-top: -60px; }

@media (max-width: 426px) {
  #mobile-photos {
    margin-top: -260px; } }

@media (min-width: 880px) {
  #photos {
    width: 829px;
    margin-left: 100px;
    top: 250px; } }

@media (max-width: 1025px) {
  .header-image {
    width: 400px;
    margin-bottom: 20px; }
  #photos {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: 50px;
    top: 315px; } }

@media (max-width: 768px) {
  .header-image {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px; }
  #photos {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: 50px;
    top: 315px; } }

#about-us .section-title {
  text-align: center; }

#about-us > p {
  padding-top: 35px; }

#about-us .general-link {
  display: block; }

#about-us .general-link--arrow {
  margin-bottom: 280px; }

@media (min-width: 670px) {
  #about-us .section-title {
    margin: 0 25%; }
  #about-us > p {
    width: 100%;
    text-align: left; }
  #about-us .general-link--arrow {
    margin-bottom: 80px; } }

@media (min-width: 880px) {
  #about-us {
    position: relative;
    bottom: 30px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    height: 580px; }
    #about-us > * {
      -ms-flex: none;
      flex: none; }
    #about-us .section-title {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
      align-items: center;
      width: 50%;
      margin: 0 0 0 33px;
      padding-right: 33px;
      text-align: right; }
      #about-us .section-title span {
        -ms-flex: 1;
        flex: 1; }
    #about-us p {
      width: 50%;
      text-align: right; }
    #about-us .general-link--arrow {
      margin-bottom: 0; } }

#meetups {
  position: relative;
  padding-top: 110px;
  padding-bottom: 20px;
  background: #eaebfb; }
  #meetups:before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    transform: skewY(-6deg);
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
    background: #eaebfb; }
  #meetups .section-title {
    text-align: center;
    position: relative; }

.event-map {
  height: 400px;
  width: 100%;
  margin-top: 10px; }

#facebook-topics h2.section-title {
  margin-top: 60px;
  text-align: center;
  position: relative; }

#sponsors {
  margin: 60px 0; }

.sponsor-logos {
  text-align: center; }

.sponsor-logo {
  height: 90px;
  margin-right: 60px; }

.sponsor-logo-last {
  height: 90px; }

@media (max-width: 320px) {
  .sponsor-logo, .sponsor-logo-last {
    margin-left: 30px;
    margin-right: 30px; } }

footer {
  font-family: Camphor,Open Sans,Segoe UI,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: transparent;
  overflow: hidden;
  padding-top: 500px;
  margin-top: -480px;
  pointer-events: none;
  position: relative; }
  footer > * {
    pointer-events: auto;
    position: relative; }
  footer:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 600px;
    height: 2000px;
    background: #eaebfb;
    transform: skew(0, -12deg); }
  footer > div .title {
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
    color: #1a2599;
    margin: .75em 0; }
  footer > div .buttons {
    margin-top: 40px; }

.footer-links {
  padding: 65px 0 55px;
  color: #4d4d4d;
  white-space: nowrap; }
  .footer-links ul {
    padding: 0;
    margin: 0; }
  .footer-links li {
    list-style: none; }
    .footer-links li > a {
      color: #6772e5;
      font-weight: bold; }
      .footer-links li > a:hover {
        color: #1a2599; }
  .footer-links .container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .footer-links .copyright {
    margin-top: 10px; }

@media (min-width: 670px) {
  footer > div.container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center; } }

@media (min-width: 880px) {
  .globalFooterNav .container {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap; }
  .globalFooterNav ul {
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    margin: 0 0 20px; } }

html, body {
  overflow-x: hidden; }

ol, ul {
  list-style: none; }

a, a:hover, a:active, a:visited {
  text-decoration: none; }

p {
  font-weight: 400;
  font-size: 17px;
  line-height: 26px;
  color: #6b7c93; }

code, pre {
  font-family: Source Code Pro,Consolas,Menlo,monospace; }

#brand {
  font-size: 28px; }

.container {
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  max-width: 1040px; }

.section-title {
  line-height: 33px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .025em;
  color: #1a2599; }

.general-link {
  color: #6772e5;
  font-weight: 500;
  transition: color .1s ease;
  cursor: pointer; }
  .general-link:hover, .general-link:active {
    color: #1a2599;
    text-decoration: none; }

.general-link--arrow:after {
  font: normal 16px StripeIcons;
  content: '\2192';
  padding-left: 4px; }

.general-button {
  white-space: nowrap;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0 14px;
  box-shadow: 0 4px 6px rgba(128, 128, 128, 0.89), 0 1px 3px rgba(0, 0, 0, 0.2);
  background: #ffffff;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: .025em;
  color: #6772e5;
  margin-left: 10px;
  margin-top: 10px; }
  .general-button:hover {
    color: #1a2599;
    box-shadow: 0 0 2px 2px gray; }
  .general-button:active {
    color: #1a2599;
    background-color: #b3b3b3;
    box-shadow: 0 4px 6px rgba(128, 128, 128, 0.89), 0 1px 3px rgba(0, 0, 0, 0.2); }

.general-button--default {
  color: #ffffff;
  background: #6772e5; }

.general-button--default:hover {
  color: #ffffff;
  background-color: #6772e5; }

.general-button--default:active {
  color: #ffffff;
  background-color: #1a2599; }

#primary {
  margin-top: 0; }
  #primary .heading-icon {
    margin: 0 auto;
    margin-bottom: 30px;
    display: block;
    width: 66px;
    height: 66px; }

@media (min-width: 670px) {
  #primary {
    margin-top: -220px; } }

#secondary {
  margin-top: 40px; }
  #secondary .heading-icon {
    margin-bottom: 25px;
    display: block;
    width: 66px;
    height: 66px; }
  #secondary p {
    margin: 15px 0 18px; }
