.ui-showmore-initial {
    max-height: 200px;
    overflow-y: hidden;
}
.ui-showmore-wrapper {
    overflow-y: hidden;
    display: inline-block;
    position: relative;
}
/* Gradient example for show more control */
.ui-showmore-more {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, #eaebfb 60%, #eaebfb 100%);
}
.ui-showmore-more > span {
    cursor: pointer;
    vertical-align: bottom;
    line-height: initial;
}
.ui-showmore-more > span > span {
    display: inline-block;
    vertical-align: middle;
}
.ui-showmore-less {
    width:100%;
    position:absolute;
    left:0;
    bottom:0px;
    text-align: center;
}
.ui-showmore-less > span {
    cursor: pointer;
}
.ui-showmore-less > span > span {
    display: inline-block;
    vertical-align: middle;
}

.extender{
    text-align: center; 
    border-bottom: 1px solid #dedede;
    margin-bottom: 28px;
    padding-top: 10px;
}

a.more-btn-home, .more-btn-home {
    background-color: #333;
    cursor: pointer;
    border: 1px solid #000;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    border-radius: 5px 5px 0 0;
    display: inline-block;
    padding: 5px 8px;
}