html, body { overflow-x: hidden; }

body {
    padding-top: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    font-weight: bold;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

legend {
    color: #4ac2e2;
}

.btn-theme {
    color: #ffffff;
    background-color: #c675de;
    border-color: #c675de;
    font-size: 14px;
    font-weight: bold;
    padding: 4px 14px !important;
}

.horizontal-space-30px {
    padding-right: 30px;
}

.hero-banner {
    border-top: 4px solid #c675de;
    background-image: url('../images/meetup-banner-2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 30%; 
    height: 420px;
}

    .hero-banner-header {
    margin-top: 140px;
    font-size: 42px;
    color: white;
    font-weight: bold;
    text-align: center;
    text-shadow: 4px 4px #000000
}

.hero-banner-title {
    margin-top: 0;
    font-size: 22px;
    color: white;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px #000000
}

.date_field[readonly].form-control {
    background-color: #FFF!important;
    cursor: default!important;
}
.date_field:read-only, .date_field:disabled {
    background-color: #FFF!important;
    cursor: default!important;
}

.control-label {
    padding-left: 0;
    padding-right: 0;
}

.valign-margin-top-6px-label {
    margin-top: 6px;
}

.btn-theme-submit {
    color: #ffffff;
    background-color: #c675de;
    border-color: #c675de;
    font-size: 24px;
    font-weight: bold;
    padding: 4px 14px !important;
    text-transform: uppercase;
}

.btn-theme-proceed-blue {
    color: #ffffff;
    background-color: rgb(74,194,226);
    border-color: rgb(74,194,226);
    font-size: 16px;
    padding: 10px 104px !important;
    text-transform: uppercase;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.hero-banner-info-buttons-section {
    position: absolute;
    bottom: 40px;
}

.hero-banner-info-button {
    height: 54px;
    display: table-cell;
    vertical-align: middle;
    width: 140px;
    background-color: rgb(102,102,102);
    color: white;
}

.info-section {
    padding: 60px 20px;
}

.info-section-light-blue {
    background-color: #edf9fc;
}

.info-section-description {
    margin-top: 10px;
}

.larger-inline-spacing{
    margin-left: 30px;
}

.event-description > p{
    font-size: 12px;
}

.event-map{
    height: 400px; 
    width: 100%; 
    margin-top: 10px;
}

.extender{
    text-align: center; 
    border-bottom: 1px solid #dedede;
    margin-bottom: 30px;
}

a.more-btn-home, .more-btn-home {
    background-color: #333;
    cursor: pointer;
    border: 1px solid #000;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    border-radius: 5px 5px 0 0;
    display: inline-block;
    padding: 5px 8px;
}

.item-card {
    border: 1px solid #dddddd;
    margin-top: 10px;
}

.item-card-without-effect {
    border: 1px solid #dddddd;
}

.item-card-image {
    background-size: cover; 
    min-height: 260px;
    border-bottom: 6px solid #c675de;
}

.item-card-description {
    margin: 0 10px;
    height: 300px;
    background-color: white;
}

.item-card-description-body {
    height: 236px;
}

.item-card-title {
    font-size: 16px;
    font-weight: bold;
    color: #c675de;
}

.item-card-action-button {
    text-align: center; 
    margin-top: 10px;
}

.gray-horizontal-line {
    border-bottom: solid 1px #cccccc;
}

.gray-horizontal-line-2px {
    border-bottom: 2px solid #cccccc;
}

.info-section-header {
    color: #c675de;
    text-align: center;
}

p {
    margin-bottom: 20px;
    font-size: 18px;
}

.paragraph {
    margin-bottom: 20px;
    font-size: 18px;
}

footer {
    padding: 10px 15px 0 15px;
    min-height: 150px;
    background-color: rgb(248, 248, 248);
    color: #929497;
}

.footer-margin-space-before {
    margin-top: 10px;
}

.clear {
    clear: both;
}

.help-block {
    margin-top: 0;
}

.help-block-small {
    font-size: 11px;
}

fieldset {
    margin-top: 10px;
}

.person-circular {
    margin: 0 auto;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    border-width: 0;
    border-style: solid;
    border-color: whitesmoke;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

    .person-circular img {
        opacity: 0;
        filter: alpha(opacity=0);
    }

.person {
    background-image: url('../images/profile.png');
}

.image-full-width {
    width: 100%;
    margin-top: 10px;
}

.info-section-description-title {
    font-weight: bold;
    font-size: 20px;
    color: #c675de;
}

.info-section-description-subtitle {
    font-style: italic;
    color: #c675de;
}

.full-width-img{
    margin-top: 10px;
    width: 100%;
}

#join-us{
    padding-top: 100px;
}

@media (max-width: 768px) {
    .second-level-menu-item {
        color: #c675de;
        padding: 0 4px;
    }

    .hero-banner {
        background-position: 30% 20%; 
    }
    
    .hero-banner-header {
        font-size: 28px;
        margin-top: 80px;
    }

    .container {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width: 425px) {
    .mobile-footer-booknow-button-section {
        position: fixed;
        bottom: 0px;
        width: 100%;
        color: #ffffff;
        font-size: 24px;
        text-align: center;
        background-color: rgba(238, 80, 80, 0.9);
        border-color: #c675de;
        padding: 12px 0;
    }

    .item-card-description {
        margin: 0 10px;
        height: 360px;
        background-color: white;
    }

    .item-card-description-body {
        height: 266px;
    }
}

@media (max-width: 380px) {
    .navbar-default {
        filter: alpha(opacity=100);
        -moz-opacity: 1.0;
        opacity: 1.0;
    }
    
    .navbar-brand {
        font-size: 20px;
    }

    .info-section {
        padding: 10px 10px;
    }

    h3 {
        margin-bottom: 0;
        margin-top: 10px;
        font-size: 18px;
    }

    .item-card-description-body {
        height: 296px;
    }

    footer {
        padding-bottom: 70px;
    }
}

@media (max-width: 360px) {
    .navbar-brand-img {
        margin-left: -30px;
    }

    .hero-banner {
        background-position: 40% 20%; 
    }
}